@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Myeongjo:wght@800&family=Playfair+Display:ital,wght@0,400;0,800;1,600&display=swap')
	;


html {
	height: 100%;
	width: 100%;
	background-color: #8f7394;
	background-size: cover;
}

h4 {
	font-family: "Nanum Myeongjo";
}

body {
	width: 100vw;
    height: 100vh;
	padding: 0;
	overflow: auto;
	margin-top: 0;
	margin-left: 0;
}

#header:visited, #header {
	margin-top:0;
	padding: 0;
	margin: 0;
	text-overflow: inherit;
	height: 40px;
	width: 100%;
background: rgb(249,175,0);
background: linear-gradient(117deg, rgba(249,175,0,1) 5%, rgba(56,0,54,1) 30%);
	color: #F4F4F8;
	display: inline-block;
	text-decoration: none;
	
}

.logo {
	background: #F4F4F8;
	border-radius: 10px 10px 10px 10px;
	height: 30px;
	width: 35px;
	margin-top: 5px;
	margin-left: 9px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0;
	padding-bottom: 0px;
}
.logo:hover{
	background: #d4d4d6;
}

.sitename{
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: absolute;
	top: -15px;
	font-family: "Nanum Myeongjo";
	font-weight: 800;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 5px;
	height: 1px;
	width: 120px;
}


.sitename, .trending-btn, .search-btn, .signin-btn, .login-btn, .home-btn {
	display: inline-block;
	text-decoration: none;
}

.trending-btn:hover, .search-btn:hover {
	text-decoration: underline;
}

.signin-btn:hover, .login-btn:hover {
	background: #A47300;
}

.trending-btn, .search-btn, .signin-btn, .login-btn:visited {
	color: #F4F4F8;
}

.trending-btn{
	font-family: "Bebas Neue";
	display: inline-block;
	float: right;
	padding-right: 30px;
	margin-top: 12px;
	font-size: 30px;
	position: relative;
	top: -7px;
}
 .search-btn {
 	font-family: "Bebas Neue";
	display: inline-block;
	float: right;
	font-size: 30px;
	position: relative;
	top: 5px !important;
	left: -70px !important;
 }

.home-btn {
 	font-family: "Bebas Neue";
	display: inline-block;
	float: right;
	font-size: 30px;
	position: relative;
	top: 5px !important;
	left: -70px !important;
}

.signin-btn, .profile-btn, .login-btn {
	font-family: "Bebas Neue";
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 9px;
	margin-bottom: auto;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 12px 12px 12px 12px;
	border-spacing: 5px;
	color: #F4F4F8;
	font-size: 25px;
	background: #CB8F00;
	position: relative;
	top: -1px;
}
.profile-btn{
left:-13px;
}
.logout-icon{
	position: relative;
	float: right;
	top:4px;
	left:-5px;
	height: 32px;
	width: 32px;
	border-radius: 12px 12px 12px 12px;
	background-color: #CB8F00;
	padding: 0;
}
.logout-icon:hover{
	background: #A47300;
}
.profile-btn:hover{
	background: #A47300;
}

#home-back-img {
	position: relative;
	float: left;
	height: 1000px;
	width: 50%;
	position: relative;
	opacity: 70%;
	overflow: auto;
}

#home-greeting {
	font-family: "Nanum Myeongjo";
	position: absolute;
	width: 400px;
	text-align: center;
	top: 180px;
	left: 195px;
	font-weight: bolder;
	background-color: rgba(244, 244, 248, 0.52);
	border-radius: 20px 0px 20px 0px;
	font-size: 18px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

#home-alexandria-greeting {
	font-family: "Nanum Myeongjo";
	position: absolute;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	top: 70px;
	left: 230px;
	font-weight: bolder;
	background-color: rgba(244, 244, 248, 0.52);
	border-radius: 20px 0px 20px 0px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

/* RIGHT SIDE HOME PG START */
#home-right {
	position: relative;
	top: 300px;
	left: 1000px;
	float: right;
	font-family: "Nanum Myeongjo";
	overflow: auto;
}
.home-signup-title{
	overflow: hidden;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(244, 244, 248, 0.52);
	border-radius: 20px 0px 20px 0px;
	text-align: center;
	position: absolute;
	top: 60px;
	left: 910px;
	font-family: "Nanum Myeongjo";
	padding: 20px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.home-signup-container{
	margin-right: auto !important;
	margin-left: auto !important;
	justify-content: center;
	width: 200px;
	position: absolute;
	top: 180px;
	left: 945px;
	background: rgba(244, 244, 248, 0.52);
	padding: 35px;
	border-radius: 20px 0px 20px 0px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.home-input-fname{
	height: 25px;
	width: 190px;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.home-input-lname{
	height: 25px;
	width: 190px;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.home-input-email{
	height: 25px;
	width: 190px;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.home-input-username{
	height: 25px;
	width: 190px;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.home-input-password{
	height: 25px;
	width: 190px;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.home-signup-submit-btn{
	align-content: center;
	height:53px;
	width: 170px;
	padding: 0;
	margin: 0;
	left: 14px;
	top: 0px;
	border-radius: 7px 7px 7px 7px;
	position: relative;
	display:block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.home-signup-submit-btn:hover{
	background: #BCBCBC;
}
/* RIGHT SIDE HOME PG END */
.cover {
	background-size: cover;
	border-radius: 10px 10px 10px 10px;
	height: 200px;
	width: 150px;
	display: inline-block;
	padding: 10px;
	background-color: rgba(244, 244, 248, 0.7);
}
.booklist-cover {
	position: relative;
	background-size: cover;
	border-radius: 10px 10px 10px 10px;
	height: 200px;
	width: 150px;
	display: inline-block;
	padding: 10px;
	background-color: rgba(244, 244, 248, 0.7);
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	display:cover;
}
.booklist-title, .booklist-author{
	float: left;
	position: relative;
	list-style: none;
	margin-bottom: -10px;
	font-family: "Nanum Myeongjo";
	font-size: 25px;
	color: #F4F4F8;
	width: 220px;
}
.booklist-author{
	top: 180px;
	left: -220px;
}
.booklist-cover{
	margin-left: 30px;
	position: relative;
	top: -77px;
	float: right;
	margin-right: 25px;
	height: 220px !important;
	width: 170px !important;
}
.booklist-container{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.book-details{
	height: 300px;
	justify-content: space-between;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 30px;
	display:inline-block;
	background-color: rgba(52, 46, 55, 0.75);
	margin-left: 30px;
	margin-top: 30px;
	width: 630px;
}

#home-cover0 {
	/*aristotle*/
	position: absolute;
	left: 45px;
	top: 500px;
	background-size: cover;
}

#home-cover1 {
	/*camus*/
	position: absolute;
	left: 305px;
	top: 500px;
	background-size: cover;
}

#home-cover2 {
	/*cristo*/
	position: absolute;
	left: 560px;
	top: 500px;
	background-size: cover;
}

#home-cover3 {
	/*hp*/
	position: absolute;
	left: 170px;
	top: 790px;
	background-size: cover;
}

#home-cover4 {
	/*solitude*/
	position: absolute;
	left: 440px;
	top: 790px;
	background-size: cover;
}

#home-left {
	overflow: hidden;
	display: block;
	margin: 0;
	height: 100%;
	width: 830px;
	background: url("homebackimg.jpg") no-repeat center center fixed;
	background-size: cover;
	position: relative;
	transform: scale(1, 1);
	max-height: 100%;
	overflow: hidden;
	border-right:10px;
	border-color: #420041;
	border-right-style: solid;
	border-radius: 15px 15px 15px 15px;
}
.home-pg{
	height: 100%;
	width: 100%;
	display: inline-block;
}

#search-blk {
	position: relative;
	line-height: 3px;
	top: 50px;
	height: auto;
	width: 600px;
	text-align: center;
	background-color: #DCD9D4;
 	background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 	background-blend-mode: soft-light,screen;
	margin: 0 auto;
	font-size: 50px;
	padding: 20px;
	padding-bottom: 35px;
	border-radius: 20px 0px 20px 0px;
	border-bottom: medium;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#searchimg {
	background-image: url("searchbkgrnd.svg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-position: bottom 0px;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: auto;
	background-repeat: no-repeat;
	display: block;
	margin: 0;
}

.search-btn-submit {
	top: -32px;
	left: 410px;
	width: auto;
	padding: 0;
	margin-right: 0;
	border-radius: 7px 7px 7px 7px;
	position: relative;
	height: 35px;
	width: 35px;
	display:block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.search-btn-submit:hover{
	background:#D3D3D3;
}

.book-club-search-title {
	top: -12px;
	background-color: rgba(66, 0, 65, 0.8);
	height: 30px;
	font-size: 40px;
	width: 600px;
	border-radius: 20px 0px 20px 0px;
	position: relative;
	padding-top: 30px;
	margin-bottom: 15px;
	margin-top: 10px;
	color: #F4F4F8;
	text-shadow: 5px 5px black;
}
.search-input{
	position: relative;
	top:0;
	left: -45px;
	height: 25px;
	width: 250px;
	font-size: 20px;
	margin-left: 15px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.login-container, .signup-container{
	font-family: "Nanum Myeongjo";
	border-radius: 20px 20px 20px 20px;
	font-size: 60px;
	color: #f4f4f8;
	height: 160px;
	width: 500px;
	background-color: #DCD9D4;
 	background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 	background-blend-mode: soft-light,screen;
	position: relative;
	top: 100px;
	padding: 30px;
	border: thick;
	border-color: black;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
}
.signup-container{
	height: 340px !important;
}

.login-title, .signup-title{
	position: relative;
	top: -100px;
	font-weight: 800 !important;
	font-stretch: wider;
	font-style: bolder;
	font-variant:small-caps;
	font-style: italic;
	text-align: center;
	color: black;
	text-shadow: 10px 5px 5px 362C1B;

}
.signup-input-fname{
	top: -180px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 200px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.signup-input-lname{
	top: -180px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 200px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.signup-input-email{
	top: -180px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 460px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.signup-input-username{
	top: -175px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 200px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.signup-input-password{
	top: -175px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 200px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.signup-btn-submit{
	border-radius: 15px 15px 15px 15px;
	position: relative;
	height: auto;
	width: 200px;
	display:block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	top: -153px;
	left: 140px;
	box-shadow:10px 5px 5px black;
}
.signup-btn-submit:hover{
	background: #BCBCBC;
}

.login-input-user{
	top: -180px;
	height: 40px;
	left: -30px;
	position: relative;
	width: 200px;
	font-size: 30px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.login-input-password{
	position: relative;
	top:-180px;
	left: -45px;
	height: 40px;
	width: 200px;
	font-size: 30px;
	margin-left: 15px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	box-shadow:10px 5px 5px black;
	background-color: #f4f4f8;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.login-btn-submit{
	border-radius: 15px 15px 15px 15px;
	position: relative;
	height: auto;
	width: auto;
	display:block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	top: -225px;
	left: 450px;
}
.login-btn-submit:hover{
	background: #C9C9CC;
	
}

.login-btn-icon{
	position: relative;
	height: 35px;
	width: 35px;
}
/* START SINGLE BOOK PAGE */
.single-book-title{
	position: relative;
	font-family: "Nanum Myeongjo";
	font-size: 30px;
	background-color: rgba(244, 244, 248, 0.52);
	font-variant: small-caps;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	line-height: 50px;
}
.single-book-cover{
	height: 450px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(244, 244, 248, 0.52);
	padding: 15px;
	position: relative;
	text-align: center;
	display: block;
	border-radius: 10px 10px 10px 10px;
	box-shadow:10px 5px 5px black;
}
.single-book-container{
	position: relative;
	font-family: "Nanum Myeongjo";
	font-size: 22px;
	margin-right: 30px;
	margin-left: 30px;
	background-color: rgba(244, 244, 248, 0.52) !important;
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
	list-style: none;
	border-color: black;
	border-style: solid;
}
.single-book-prompt-user-login{
	background-color: rgba(244, 244, 248, 0.52) !important;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 30px;
	width: 250px;
	padding: 10px;
	border-color: black;
	border-style: solid;
}

.single-book-signup-btn{
	position: relative;
	left: 75px;
	font-family: "Nanum Myeongjo";
	font-size: 22px;
	background-color: #53A753;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-color: black;
}
.single-book-signup-btn:hover{
	background-color: #478F47;
}

.single-book-user-features{
	background-color: rgba(244, 244, 248, 0.52) !important;
	border-radius: 10px 10px 10px 10px;
}
.book-comment{
	font-family: "Nanum Myeongjo";
}
.book-comment-child{
	font-family: "Nanum Myeongjo";
}

.profile-name{
	font-family: "Bebas Neue";
	font-size: 40px !important;
	border-bottom: thick solid black;
	width: 500px;
	margin-left: 200px;
	padding-left: 30px;
	position: relative;
	left: 20px;
}
.profile-username{
	top:-30px;
	left: 245px;
	font-family: "Bebas Neue";
	font-size: 30px;
	position: relative;
	width:100%;
	margin: 0;
}
.profile-pic{
	margin-left: 20px;
	position: relative;
	top: -360px;
	left: 20px;
	height: 160px;
	width: 160px;
	border-radius: 70px 70px 70px 70px;
	box-shadow:-10px 10px 5px black;
}
.other-profile-pic{
	margin-left: 20px;
	position: relative;
	top: -140px !important;
	left: 20px;
	height: 160px;
	width: 160px;
	border-radius: 70px 70px 70px 70px;
	box-shadow:-10px 10px 5px black;
	top: -500px;
}
.profile-about-title{
	position: relative;
	font-family: "Bebas Neue";
	font-size: 35px;
	top: -420px;
	left: 35px;
	width: 100%;
}
.other-profile-about-title{
	position: relative;
	font-family: "Bebas Neue";
	font-size: 35px;
	top: -200px;
	left: 35px;
	width: 100%;
}
.profile-about-desc{
	position: relative;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	width: 120px;
	margin-right: 1px;
	left: 35px;
	top: -500px;
	width: 500px;
}
.other-profile-about-desc{
	position: relative;
	font-family: "Nanum Myeongjo";
	font-size: 20px;
	width: 120px;
	margin-right: 1px;
	left: 35px;
	top: -280px;
	width: 500px;
}
.profile-name-username-container{
	margin-right: 10px;
}
.user-functions-container{
	margin-top: 10px;
	/* background-color: rgba(244, 244, 248, 0.52); */
	border-radius: 20px 20px 20px 20px;
	width: 300px;
	text-align: center;
	padding: 10px;
	/* box-shadow:3px 5px 5px black; */
	position: relative;
	left: 530px;
	height: 173px;
	top: -495px;
}
.fav-scroll{
	float: right;
	overflow-y:auto;
	width: 500px;
	height:500px;
	justify-content: center;
	position: absolute;
	top: 80px;
	left: 800px;
}
.owned-scroll{
	float: right;
	overflow-y:auto;
	width: 460px;
	height:200px;
	padding-bottom: 0px;
	justify-content: center;
	position: absolute;
	top: 590px;
	left: 800px;
	padding-top: 10px;
}
.fav-list-container{
	position: relative;
	top: -110px;
	background: rgb(11,3,161);
	background: linear-gradient(42deg, rgba(11,3,161,1) 0%, rgba(130,57,185,1) 100%);
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	width: 450px;
	height: auto;
	display: inline-block;
	float: left;
	margin: 5px;
	padding-bottom: 10px;
	justify-content: center;
}

.owned-list-container{
	position: relative;
	top: -110px;
	background: rgb(11,3,161);
	background: linear-gradient(42deg, rgba(11,3,161,1) 0%, rgba(130,57,185,1) 100%);
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	width: 450px;
	height: 200px;
	display: inline-block;
	float: left;
	margin: 5px;
	padding-bottom: 10px;
	justify-content: space-between;
}
.profile-fav-title{
	float: right;
	width: 300px;
	top:-60px!important;
	position: relative!important;
	left: -123px!important;
	font-family: "Bebas Neue";
	font-size: 40px;
	text-align: center;
	border-bottom: thick;
	border-bottom-color: black;
	border-bottom-style: solid;
}
.profile-owned-title{
	float: right;
	width: 300px;
	top:-60px!important;
	position: relative!important;
	left: -85px!important;
	font-family: "Bebas Neue";
	font-size: 40px;
	text-align: center;
	border-bottom: thick;
	border-bottom-color: black;
	border-bottom-style: solid;
}
.profile-fav-book-title{
	position: relative;
	text-align: center;
	left: -20px;
	list-style: none;
	font-family: "Bebas Neue";
	font-size: 30px;
	color: #F4F4F8;
}
.profile-owned-club-name{
	float: right;
	position: relative;
	text-align: center;
	max-width:200px;
	word-break: break-all;
	height: auto;
	margin-right: 10px;
	list-style: none;
	font-family: "Bebas Neue";
	font-size: 50px;
	color: #F4F4F8;
}
.fav-cover{
	height: 210px !important;
	width: 160px !important;
	background-color: rgba(244, 244, 248, 0.52);
	padding: 7px;
	border-radius: 5px 5px 5px 5px;
}
.user-remove-book-fav{
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
	border-radius: 20px 20px 20px 20px;
}

.user-leave-club-btn{
	position:relative;
	float: left;
	left: 388px;
	height:20px;
	width: 70px;
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
	border-radius: 20px 20px 20px 20px;
}
.new-user-join-club-btn{
	position:relative;
	float: left;
	left: 388px;
	height:20px;
	width: 70px;
	border-radius: 15px 15px 15px;
	background: rgb(101,227,108);
	background: linear-gradient(130deg, rgba(101,227,108,1) 0%, rgba(125,184,241,1) 100%);	
}

.delete-club-btn-icon{
	height: 30px;
	width: 30px;
}
.new-user-join-club-btn:hover{
	background: rgb(73,164,78);
	background: linear-gradient(130deg, rgba(73,164,78,1) 0%, rgba(80,116,150,1) 100%);
}
.new-user-join-club-icon{
	height: 12px;
	width:25px;
}
.club-leave-icon{
	height: 10px;
	width:15px;
}
 .user-leave-club-btn:hover{
background: rgb(210,198,15);
	background: linear-gradient(130deg, rgba(210,198,15,1) 0%, rgba(214,66,66,1) 100%);
}
.user-remove-book-fav:hover, .delete-club-btn-submit:hover{
	background: rgb(210,198,15);
	background: linear-gradient(130deg, rgba(210,198,15,1) 0%, rgba(214,66,66,1) 100%);
}
.user-remove-icon{
	height: 30px;
	width: 30px;
}
.club-cover{
	height: 130px !important;
	margin-left: 10px;
	float: left;
	
	position: relative;
	left: 10px;
	width: 80px !important;
	background-color: rgba(244, 244, 248, 0.52);
	padding: 7px;
	border-radius: 5px 5px 5px 5px;
}

.delete-club-btn-submit{
	border-radius: 50px 50px 50px 50px;
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
	position: relative;
	float: left;
	top: 150px;
	left: -60px;
	position: relative;
}

.create-club-btn{
	background: rgb(59,161,3);
	background: linear-gradient(42deg, rgba(59,161,3,1) 0%, rgba(221,202,52,1) 100%);
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 5px;
	font-family: "Bebas Neue";
	font-size: 20px;
	height: 100px;
	width: 110px;
	position: absolute;
	top: 420px;
	left: 110px;
}
.create-club-btn:hover{
	background: rgb(42,117,1);
	background: linear-gradient(45deg, rgba(42,117,1,1) 0%, rgba(187,171,45,1) 100%);
}
.create-text, .update-text, .logout-text{
	padding: 0;
	margin:0;
}
.update-profile-btn{
	position: absolute;
	background: rgb(45,195,193);
	background: linear-gradient(45deg, rgba(45,195,193,1) 0%, rgba(253,187,45,1) 100%);
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 5px;
	font-family: "Bebas Neue";
	font-size: 20px;
	height: 100px;
	width: 110px;
	top:420px;
	left: 0px;
}
.update-profile-btn:hover{
	background: rgb(39,167,165);
	background: linear-gradient(45deg, rgba(39,167,165,1) 0%, rgba(215,159,39,1) 100%);
}
.logout-btn{
	border-radius: 20px 20px 20px 20px;
	font-family: "Bebas Neue";
	font-size: 20px;
	width: 100px;
}

.update-profile-form-container{
	border-image: linear-gradient(#f6b73c, #4d9f0c) 30 !important;
  	border: 4px solid transparent;
	border-style: solid;
	border-width: 5px;
	position: relative;
	top: 10px;
	background-color: rgba(244, 244, 248, 0.52);
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	padding-bottom: 10px;
	
}

.update-profile-title{
	font-family: "Bebas Neue";
	font-size: 50px;
}
.update-username-title, .update-password-title, .update-fname-title, .update-lname-title, .update-about-title, .update-pic-title{
	font-family: "Bebas Neue";
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 30px;
}
.update-username, .update-password, .update-fname, .update-about, .update-lname, .update-submit-btn{
	font-family: "Nanum Myeongjo";
	border-radius: 20px 20px 20px 20px;
	height: 30px;
	width: 200px;
	font-size: 20px;
	padding-left: 12px;
	padding-right: 12px;
}
.update-pic{
	font-family: "Nanum Myeongjo";
	border-radius: 20px 20px 20px 20px;
	height: 30px;
	width: 500px;
	font-size: 20px;
	padding-left: 12px;
	padding-right: 12px;
}


.update-submit-btn{
	background: rgb(101,227,108);
	background: linear-gradient(130deg, rgba(101,227,108,1) 0%, rgba(125,184,241,1) 100%);
	margin-top: 10px;
	position: relative;
	width: 200px;
	height: 40px;
}
.update-submit-btn:hover{
	background: rgb(73,164,78);
	background: linear-gradient(130deg, rgba(73,164,78,1) 0%, rgba(80,116,150,1) 100%);
}
.update-submit-btn-icon{
	height: 35px;
	width: 35px;
}

.create-book-club-title, .club-name-title, .club-pic-title,.club-description-title{
	font-family:"Bebas Neue";
	font-size: 35px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 8px;
}
.create-book-club-title{
	background-color: rgba(244, 244, 248, 0.52);
	border-radius: 15px 15px 15px 15px;
	width: 300px;
	height:35px;
	border-color: #F6B73C;
	border-style: solid;
	border-top-width: 3px;
	border-left-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	padding: 4px;
}

.club-name-title{
	margin-top: 0 !important;
}

.club-pic-input{
	width: 650px !important;
}

.create-club-container{
	background-color: rgba(244, 244, 248, 0.52);
	height: 430px;
	width: 800px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-image: linear-gradient(#f6b73c, #380036) 30 !important;
  	border: 4px solid transparent;
	border-style: solid;
}

.club-name-input,.club-pic-input,.club-desc-input{
	border-radius: 15px 15px 15px 15px;
	height: 30px;
	width: 400px;
	font-family: "Nanum Myeongjo";
	padding-left: 15px;
	font-size: 25px;
}

.book-create-submit{
	border-radius: 15px 15px 15px;
	background: rgb(101,227,108);
	background: linear-gradient(130deg, rgba(101,227,108,1) 0%, rgba(125,184,241,1) 100%);	
}

.book-create-submit:hover{
	background: rgb(73,164,78);
	background: linear-gradient(130deg, rgba(73,164,78,1) 0%, rgba(80,116,150,1) 100%);
}

.book-create-submit-icon{
	padding-top: 2px;
}

.book-club-container{
	margin-top: 20px;
	background-color: rgba(244, 244, 248, 0.52);
	width: 400px;
	margin-left: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-image: linear-gradient(#f6b73c, #4d9f0c) 30 !important;
  	border: 4px solid transparent;
  	margin-bottom: 5px;
  	margin-right: 0;
  	display: inline-block;
}
.book-club-cover{
	display: flex;
	height: 250px;
	width: 250px;
	margin-left: auto !important;
	margin-right: auto !important;
	border-image: linear-gradient(#85FFBD, #FFFB7D) 30 !important;
  	border: 6px solid transparent;
}

.book-club-name{
	text-align: center;
	font-family: "Bebas Neue";
	font-size: 40px;
	margin-bottom: 0;
}
.book-club-id{
	text-align: center;
	font-family: "Bebas Neue";
	font-size: 20px;
	margin-top: 0;
}

.book-club-desc{
	padding-left: 20px;
	font-family: "Nanum Myeongjo";
	margin-top: 0;
	font-size: 25px;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.club-owner-name-title, .club-owner-about-title, .club-owner-pic-title{
	font-family: "Bebas Neue";
	margin-left: 30px;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	color: #DBDBDF;
}
.club-owner-name-input,.club-owner-desc-input{
	border-radius: 20px 20px 20px 20px;
	padding-left: 10px;
	height: 20px;
	width: 200px;
	margin-left: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: "Nanum Myeongjo"
}

.club-owner-pic-input{
	border-radius: 20px 20px 20px 20px;
	padding-left: 10px;
	height: 20px;
	width: 300px;
	margin-left: 30px;
	font-family: "Nanum Myeongjo";
	margin-bottom: 10px;
}
.club-owner-options{
	font-family: "Bebas Neue";
	font-size: 30px;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #DBDBDF;
	width: 300px;
	padding-left: 20px;
	color: #DBDBDF;
}

.club-owner-functions-container{
	background-color: rgba(52, 46, 55, 0.75);
	border-radius: 20px 20px 20px 20px;
	margin-left: 30px;
	width: 400px;
	padding-top: 5px;
	height: 355px;
	margin-right: 0;
	
	position: relative;
	top: 30px;
	left: 0x;
	
}

.owner-update-club-btn{
	background: rgb(45,195,193);
	background: linear-gradient(45deg, rgba(45,195,193,1) 0%, rgba(253,187,45,1) 100%);
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 5px;
	font-family: "Bebas Neue";
	font-size: 20px;
	height: 60px;
	width: 200px;
	box-sizing: border-box;
	float:left;
}
.owner-update-club-btn:hover{
	background: rgb(42,117,1);
	background: linear-gradient(45deg, rgba(42,117,1,1) 0%, rgba(187,171,45,1) 100%);
}
.club-owner-update-icon{
	padding:0;
	margin:0;
	width: 50px;
	height: 50px;
	position: relative;
	top: -46px;
	left: 60px;
}

.owner-delete-club-btn{
	border-radius: 20px 20px 20px 20px;
	font-family: "Bebas Neue";
	width:200px;
	height: 60px;
}
.owner-update-club-title{
	font-size: 40px;
	margin: 0;
	position: relative;
	top: 5px;
	left: -40px;
}
.owner-delete-club-btn{
	font-size: 30px;
	margin: 0;
	position: relative;
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
}

.owner-delete-club-btn:hover{
	background: rgb(210,198,15);
	background: linear-gradient(130deg, rgba(210,198,15,1) 0%, rgba(214,66,66,1) 100%);
}
.owner-delete-club-title{
	position: relative;
	margin:0;
	top: 10px;
	left: -20px;
}

.owner-delete-club-icon{
	position: relative;
	top: -33px;
	left: 70px;	
}

.club-right-side{
	float: right;
	position: relative;
	top:-400px;
	margin:0;
	height: auto;
}
.club-member-favs{
	font-family: "Bebas Neue";
	font-size: 35px;
	text-align: center;
	border-bottom: 4px solid black;
	width: 400px;
	position: relative;
	margin-bottom: 10px;
	position: relative;
	top: -150px;

}
.club-book-list{
	float: right;
    overflow-y: auto;
    width: 500px;
    height: 500px;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 800px;
}

.club-book-scroll-container{
	overflow-y:auto;
	width: 460px;
	height:250px;
	padding-bottom: 0px;
	justify-content: center;
	padding-top: 10px;
	left:-30px;
	position: relative;
	top: -150px;
}

.club-book-scroll{
	background: rgb(11,3,161);
	background: linear-gradient(42deg, rgba(11,3,161,1) 0%, rgba(130,57,185,1) 100%);
	border-radius: 10px 10px 10px 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
}
.club-book-cover{
	height: 210px !important;
	width: 160px !important;
	background-color: rgba(244, 244, 248, 0.52);
	padding: 7px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 20px;
}

.club-owner-remove-book-btn{
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
	border-radius: 20px 20px 20px 20px;
}
.club-owner-remove-book-icon{
	height: 30px;
	width: 30px;
}

.club-book-title{
	position: relative;
	text-align: center;
	left: -70px;
	top: 10px;
	list-style: none;
	font-family: "Bebas Neue";
	font-size: 30px;
	color: #F4F4F8;
	float: right;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
}

.club-owner-name{
	font-family: "Bebas Neue";
	font-size: 25px;
	position: absolute;
	margin: 0;
	padding: 0;
	margin-left: 35px;
}
.club-remove-book-btn{
	background: rgb(249,234,15);
	background: linear-gradient(130deg, rgba(249,234,15,1) 0%, rgba(244,75,75,1) 100%);
	border-radius: 20px 20px 20px 20px;
	position: relative;
	top: 5px;
	left: 80px !important;
}
.club-remove-book-btn:hover{
	background: rgb(210,198,15);
	background: linear-gradient(130deg, rgba(210,198,15,1) 0%, rgba(214,66,66,1) 100%);
}
.club-members-title{
	position: relative;
	top: -80px;
	font-family: "Bebas Neue";
	font-size: 35px;
	border-bottom: thick solid black;
	width: 200px;
	text-align: center;
	left: 90px;
	margin-bottom: 4px;
}
.club-members-member{
	position: relative;
	top:-130px;
}

.club-members-list{
	list-style: none;
	font-family: "Bebas Neue";
	font-size: 30px;
	position: relative;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	top: 15px;
}

.club-members-member{
	position: relative;
	top:-37px;
	text-align: center;
	color: #F4F4F8;
	left: -25px;
	border-radius: 20px 20px 20px 20px;
	
	background: rgb(11,3,161);
	background: linear-gradient(42deg, rgba(11,3,161,1) 0%, rgba(130,57,185,1) 100%);
}

.club-members-scroll{
	overflow-y:auto;
	width: 350px;
	height:100px;
	padding-bottom: 0px;
	
	padding-top: 10px;
	left:-30px;
	position: absolute;
	top:360px;
}

.club-members-names{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
	text-align: center;
	height: 20px;
	width: 300px;
	position: relative;
	left: 70px;
}
.club-member-icon{
	background: #f4f4f8;
	border-radius: 50px 50px 50px 50px;
	padding: 0;
	height: 50px;
	width: 50px;
	position: relative;
}
.own-reviews-section{
	background-color: rgba(244,244,248, 0.52);
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px 20px 20px 20px;
	height: auto;
	width: 600px;
	padding-left: 10px;
	position: relative;
	left: 50px;
	border: 3px solid black;
	float: left;
	margin-right: 250px;
}

.other-users-reviews{
	display: inline-block;
	background-color: rgba(244,244,248, 0.52);
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px 20px 20px 20px;
	height: auto;
	width: 500px;
	padding-left: 10px;
	position: relative;
	left: 30px;
	border: 3px solid black;
	position: relative;
	margin-left: auto;
	margin-bottom: 15px;
}

.own-reviews-title{
	font-family: "Bebas Neue";
	font-size: 35px;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.book-rating-title{
	font-family: "Bebas Neue";
	font-size: 25px;
}
.posted-reviews-title{
	font-family: "Bebas Neue";
	font-size: 25px;

}

.single-book-review{
	font-family:"Nanum Myeongjo";
	font-size: 20px;
	margin-top: 5px;
}

.own-review-rating,.own-review-rating-input{
	font-family: "Nanum Myeongjo";
	
}

.own-review-rating-input{
	border-radius: 15px 15px 15px 15px;
}

.book-review-textarea{
	border-radius: 15px 15px 15px 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.book-submit-review-btn{
	position: relative;
	left: -2px;
	top:-5px;
	background: rgb(59,161,3);
	background: linear-gradient(42deg, rgba(59,161,3,1) 0%, rgba(221,202,52,1) 100%);
	border-radius: 20px 20px 20px 20px;

}
.book-submit-review-btn:hover{
	background: rgb(42,117,1);
	background: linear-gradient(45deg, rgba(42,117,1,1) 0%, rgba(187,171,45,1) 100%);
}

.submit-review-icon{
	height: 35px;
	width: 35px;
}

.add-book-list-btn{
	background: rgb(59,161,3);
	background: linear-gradient(42deg, rgba(59,161,3,1) 0%, rgba(221,202,52,1) 100%);
	border-radius: 20px 20px 20px 20px;
	float: left;
}

.add-book-list-icon{
	height: 35px;
	height: 35px;
}

.list-option-bar{
	border-radius: 10px 10px 10px 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	width: 220px;
	font-size: 27px;
	position: relative;
	top: 6px;
	font-family: "Bebas Neue";
	
}

.add-book-container{
	text-align: center;
	border-radius: 25px 25px 25px 25px;
	background-color: rgba(244,244,248, 0.52);
	height: 44px;
	width: 300px;
	border: 3px black solid;
	float: left;
	position: absolute;
	top: 50px;
	left: 0px;
}

.new-review-section{
	background-color: rgba(244,244,248, 0.52);
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px 20px 20px 20px;
	height: auto;
	width: 600px;
	padding-left: 10px;
	position: relative;
	left: 50px;
	border: 3px solid black;
	float: left;
	margin-right: 250px;
}

.new-submit-review-btn{
	border-radius: 20px 20px 20px 20px;
	background: rgb(59,161,3);
	background: linear-gradient(42deg, rgba(59,161,3,1) 0%, rgba(221,202,52,1) 100%);
}

.new-submit-review-btn:hover{
	background: rgb(42,117,1);
	background: linear-gradient(45deg, rgba(42,117,1,1) 0%, rgba(187,171,45,1) 100%);
}
.new-submit-review-icon{
	height: 40px;
	width: 40px;
}
.book-review-title{
	font-family: "Bebas Neue";
	font-size: 35px;
	margin-bottom: 5px;
	margin-top: 5px;
}